@tailwind base;
@tailwind components;
@tailwind utilities;


/* Fonts */

@font-face {
  font-family: "Poppins-Reg";
  src: url("../public/assets/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Comfortaa";
  src: url("../public/assets/fonts/Comfortaa.ttf");
}

@font-face {
  font-family: "Mont";
  src: url("../public/assets/fonts/Mont.otf");
}

@font-face {
  font-family: "Mont-Black";
  src: url("../public/assets/fonts/Mont-Black.otf");
}

@font-face {
  font-family: "Mont-Regular";
  src: url("../public/assets/fonts/Mont-Regular.otf");
}

@font-face {
  font-family: "Mont-SemiBold";
  src: url("../public/assets/fonts/Mont-SemiBold.otf");
}

@font-face {
  font-family: "Mont-Thin";
  src: url("../public/assets/fonts/Mont-Thin.otf");
}




html {
  scroll-behavior: smooth; 
}

body {
  /* font-family: 'Montserrat', sans-serif; */
  /* font-family: 'Poppins', sans-serif !important; */
  font-family: 'Poppins-Reg' !important;
  background-color: white !important;
}
.headerText {
  font-family: 'Mont-Black'!important;
}

.headerTextNormal {
  font-family: 'Mont-Regular' !important;
}

.headerTextSemiBold {
  font-family: 'Mont-SemiBold' !important;
}

.headerTextLight {
  font-family: 'Mont-Thin' !important;
}

/* Side Nav */
#sidNav ul li {
  padding: 15px 20px;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
  color: #5A5A5A;
  position: relative;
}

#sidNav li:hover:not(.activeLi) {
  border-radius: 5px;
  font-weight: 500;
  color: #4A154b;
}
 #sidNav .activeLi {
  background:  #4A154b;
  border-radius: 8px;
  font-weight: 500;
  color: #F3F3F3;
}

/* Check Box */
.checkbox {
  width: 1.3em;
  height: 1.3em;
  background-color: white;
  border-radius: 25%;
  vertical-align: middle;
  border: 1px solid #ddd;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.checkbox:checked {
  background-color: #B7076B;
}
/* Tabel Action Dropdown */
.tabeleDropDown{
  display: block;
}
.tabeleDropDown div{
  display: none;
}

.tabeleDropDown:hover div{
  display: block;
 
}

/* Pagination */
.paginationBtns {
  display: flex;
 list-style:  none;
 justify-content: right;
 margin: 0 20px;
 margin-top: 20px;
 margin-bottom: 10px;
}

.paginationBtns a {
  display: inline-block;
  border: #B7076B solid 2px;
  min-width: 40px;
  padding: 4px 10px;
  text-align: center;
  margin: 8px;
  color: gray;
  border-radius: 8px;
}

.paginationBtns a:hover {
  color: white;
  background-color: #B7076B;  
}

.paginationActive a{ 
  color: white;
  background-color: #B7076B;  
}

.previousLinkClassName a {
  padding: 20px !important;
}


.paginationDisabled a{
  color: white;
  background-color: #B7076B;  
  cursor: not-allowed;
}

/* Global scroll bar style */
::-webkit-scrollbar {
  width: 0.4em;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-color: gainsboro;
  outline: 0 solid gainsboro;
}


.img-edit-profile-hover:hover .img-edit-profile-hoverChild {
  opacity: 1;
}
/* Gradients */
.gradient1 {
background: linear-gradient(176deg, rgba(255, 255, 255, 1) 0%, rgba(74, 21, 75, 0.742734593837535) 100%);
}

/*  Loading spinner */
.spinner {
  /* border: 10px solid #f3f3f3; 
  border-top: 10px solid #4A154b;  */
  border-radius: 50%;
  /* width: 60px;
  height: 60px; */
  animation: spin .8s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Pulse */

.pulse {
  animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  }
}

.recharts-responsive-container {
  /* background-color: #287; */
  width: 100% !important;
  overflow: hidden;
  height: 100% !important;
}

.recharts-wrapper {
  /* overflow-x: scroll; */
  width: 100% !important;
  /* background-color: #210 */
}

/* Global scroll bar style */
.recharts-wrapper::-webkit-scrollbar {
  /* width: 0.4em; */
  height: 0.4em;
}

.recharts-wrapper::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

.recharts-wrapper::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-color: gainsboro;
  outline: 0 solid gainsboro;
}

input,
select {
  background-color: #ffffff;
}